:root {
    /* get colours from https://coolors.co */
    --msu-green: #244233ff;
    --mint: #52b788ff;
    --beige: #ffffe8ff;
    --timberwolf: #d9dbd5ff;
    --mindaro: #e7ffb0ff;
}

body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.main-header {
    background-color: var(--mint);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}
.main-navigation a, 
.user-nav a,
.footer-navigation a {
    color: var(--beige);
    text-decoration: none;
    display: inline-block;
    padding: 1em;
}

.logo {
    width: 80px;
    padding: 0.5em;
    display: block;
}

/* -----------FOOTER SECTION------------------ */
.main-footer {
    background-color: var(--msu-green);
}
